/node_modules
/storage/*.key
/public/css
/public/fonts
/public/images
/public/js
/public/vendor
/vendor
/.idea
/.vscode
/.vagrant
/.resources/view/auth/passwords
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
